.cover {
    justify-content: center;
    img {
        max-width: 100%;
        border: 1rem solid transparent;
        border-image:  url(../assets/geep.png) 30 round;
        overflow: hidden;
    }
    @media (width >= 80rem) {
        justify-content: center;
    }
}

.logo { 
    justify-content: center;
    img {   
        max-width: 100%;
        width: 16.3125rem;
    }

    & h1 {
        font: var(--text-primary);
        padding-bottom: 0;
        color: white;
    }

    @media (width >= 80rem) {
        background: url(../assets/geep.png); 
        border-radius: .5rem;
        justify-content: center;
        img {
            width: 27.3125rem;
        }
        h1 {
            /* padding-bottom: 30rem; */
        }
    }  
}

footer {
    display: grid;
    justify-items: center;

    p {
        font: var(--text-secondary);
        color: white;
    }
}