.cover {
    justify-content: center;
    img {
        max-width: 100%;
        border: 1rem solid transparent;
        border-image:  url(../assets/geep.png) 30 round;
        overflow: hidden;
        height: auto;
        display: block;
    }
    @media(width >= 80rem) {
        justify-content: center;
    }
}

.logo { 
    justify-content: center;
    img {   
        max-width: 100%;
        width: 16.3125rem;
        height: auto;
        display: block;
    }

    & h1 {
        font: var(--text-primary);
        padding-bottom: 0;
        color: white;
    }

    @media(width >= 80rem) {
        background: url(../assets/geep.png); 
        border-radius: 0.5rem;
        justify-content: center;
        img {
            width: 27.3125rem;
        }
        h1 {
            padding-bottom: 1rem;
        }
    }  
}

footer {
    display: grid;
    justify-items: center;

    p {
        font: var(--text-secondary);
        color: white;
    }
}